<p id="notice"><%= notice %></p>

<%=render 'home/search'%>

<h1>All Published Albums </h1>

<div class='row'>
 <% @albums.each do |album| %>
 <div class='col-md-4'>
    <div class='card'>
     <div class='card-header active'><strong>Title:</strong>
        <%= album.title %> 
      </div>
      <div class='card-header color'><strong>Description:</strong>
          <%= album.description %>
      </div>
      <div class='card-body'>
         <%= link_to home_path(id: album.id) do%>
         <%= image_tag (album.cover_photo) %>
      </div>
      <%end%>


      <div class="card-footer"><strong>Tags:</strong> <%= album.all_tags %></div>

      
    </div>
  </div>
  <% end %>
</div>

